
@{
    ViewBag.Title = "NewsFeedList";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}


<div ng-app="SubmittedProjectApp" ng-controller="SubmittedProjectCtrl" style="padding-left:10px">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="padding-left:15px">
                    <div class="box-header">
                        <h3 class="box-title">Your Proposal Item</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                                <div class="col-sm-12">
                                    <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                        <thead>
                                            <tr><th rowspan="1" colspan="1">Project Title</th><th rowspan="1" colspan="1">Project Type</th><th rowspan="1" colspan="1">Group Name</th><th rowspan="1" colspan="1">Your Amount</th></tr>
                                        </thead>

                                        <tbody>
                                            <tr role="row" class="odd" ng-repeat="newsFeed in myNewsFeedList">
                                                <td class="sorting_1"><a href="#" data-toggle="modal" data-target="#modal-info" ng-click="submitNewsfeedId(newsFeed.Id)">{{newsFeed.Title}}</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#modal-info" ng-click="submitNewsfeedId(newsFeed.Id)">{{newsFeed.ProjectType}}</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#modal-info" ng-click="submitNewsfeedId(newsFeed.Id)">{{newsFeed.GroupName}}</a></td>
                                                <td><a href="#">{{newsFeed.Amount}}</a></td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div><div class="row"><div class="col-sm-5"><div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-7"><div class="dataTables_paginate paging_simple_numbers" id="example2_paginate"><ul class="pagination"><li class="paginate_button previous disabled" id="example2_previous"><a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button active"><a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0">2</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0">3</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0">4</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0">5</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0">6</a></li><li class="paginate_button next" id="example2_next"><a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0">Next</a></li></ul></div></div></div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>



    <div class="modal modal-info fade" id="modal-info">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Accepted WebWizard List, Which WebWizard Bid on Your Proposal !</h4>
                </div>
                <div class="modal-body" style="color:black!important">
                    <table class="table table-hover" style="color:black!important">
                        <tbody>
                            <tr ng-repeat="activeWizard in activeWizardList">
                                <td><img src="~/Assets/WebWizardDashboard/ProfileImage/{{activeWizard.WebWizardProfileImageUrl}}" style="height: 50px;width: 50px;" alt="Alternate Text" /></td>
                                <td><a href="#" data-toggle="modal" data-target="#modal-info2" ng-click="submittedProjectList(activeWizard.NewsfeedId,activeWizard.WebWizardId)">{{activeWizard.FirstName}} {{activeWizard.LastName}}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-outline">Save changes</button>*@
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <div class="modal modal-info fade" id="modal-info2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Submitted Project By Client</h4>
                </div>
                <div class="modal-body" style="color:black!important">
                    <table class="table table-hover" style="color:black!important">
                        <tbody>
                            <tr ng-repeat="submittedProjects in submittedProjectByClient">
                                <td>{{submittedProjects.PostDate}}</td>
                                <td>{{submittedProjects.Comment}}</td>
                                @*<td>{{submittedProjects.ProjectUrl}}</td>*@
                                <td><a class="btn btn-primary btn-sm" target="_blank" href="/ClientAssets/ClientDashboard/SubmittedProject/{{submittedProjects.WebWizardId}}/{{submittedProjects.ProjectUrl}}">Download</a></td>
                                @*<td>{{submittedProjects.SubmitWorkStatus}}</td>*@
                                <td><select ng-change="submitWorkStatus(submittedProjects)" ng-model="submittedProjects.SubmitWorkStatus" ng-options="x for x in workingProcess"></select></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-outline">Save changes</button>*@
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


</div>
<script src="~/Scripts/AngularControllers/SubmittedProject.js"></script>