
@{
    ViewBag.Title = "WizerdDashboard";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<div>
<div class="tab-pane active" id="divOnlineUsers">
    <div class="search_chat has-search">
        <span class="fas fa-search form-control-feedback"></span>
        <input class="form-control chat_input" id="search-contactOnlineUsers" type="text" placeholder="">
    </div>
    <div class="sidebar-body" id="chatsidebar">
        <ul class="user-list" id="divusers" style="height:400px;overflow:scroll;overflow-x:hidden">
            @*<li class="user-list-item">
                    <div class="avatar avatar-online">
                        <img src="images/avatar-8.jpg" class="rounded-circle" alt="image">
                    </div>
                    <div class="users-list-body">
                        <div>
                            <h5>Regina Dickerson</h5>
                            <p>It seems logical that the strategy of providing!</p>
                        </div>
                        <div class="last-chat-time">
                            <small class="text-muted">14:45 pm</small>
                            <div class="chat-toggle mt-1">
                                <div class="dropdown">
                                    <a data-toggle="dropdown" href="#">
                                        <i class="fas fa-ellipsis-h ellipse_header"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item">Open</a>
                                        <a href="#" class="dropdown-item dream_profile_menu">Profile</a>
                                        <a href="#" class="dropdown-item">Add to archive</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-item">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>*@

        </ul>
    </div>
</div>


<div class="tab-pane" id="divMessages">
    <div class="search_chat has-search">
        <span class="fas fa-search form-control-feedback"></span>
        <input class="form-control chat_input" id="search-contactMsg" type="text" placeholder="">
    </div>

    <div class="sidebar-body" id="chatsidebar">
        <ul class="user-list" id="tbl3" style="height:400px;overflow:scroll;overflow-x:hidden">
            @*<li class="user-list-item">
                    <div class="avatar avatar-online">
                        <img src="images/avatar-8.jpg" class="rounded-circle" alt="image">
                    </div>
                    <div class="users-list-body">
                        <div>
                            <h5>Regina Dickerson</h5>
                            <p>It seems logical that the strategy of providing!</p>
                        </div>
                        <div class="last-chat-time">
                            <small class="text-muted">14:45 pm</small>
                            <div class="chat-toggle mt-1">
                                <div class="dropdown">
                                    <a data-toggle="dropdown" href="#">
                                        <i class="fas fa-ellipsis-h ellipse_header"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item">Open</a>
                                        <a href="#" class="dropdown-item dream_profile_menu">Profile</a>
                                        <a href="#" class="dropdown-item">Add to archive</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-item">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>*@

        </ul>
    </div>

</div>
</div>
